# Frontend
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=your-project-id
NEXT_PUBLIC_APPWRITE_DATABASE_ID=kradle
NEXT_PUBLIC_APPWRITE_COLLECTION_ID=reading_items

# Backend
APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=your-project-id
APPWRITE_API_KEY=your-api-key
APPWRITE_DATABASE_ID=kradle
APPWRITE_USERS_COLLECTION_ID=users
APPWRITE_ITEMS_COLLECTION_ID=reading_items

# Engine
ENGINE_PORT=8000
ENGINE_ENV=development
